<h1>Stupid Coaching</h1>
<div class="question_block">
<p><%= @answer %></p>
<h2>-You</h2>
</div>
<br>
<br>
<div class="answer_block">
<p><%= @coach_reply %></p>
<h2>-Coach</h2>
</div>
<%= link_to "Ask other question", "/ask" %>